@import './node_modules/bootstrap/scss/bootstrap';

#videoContainer {
  border: 2px solid #007bff;
  width: 35%;
}
#buttons {
  border: 2px solid #007bff;
}
#controls {
  width: 35%;
  border: 2px solid #007bff;
}

#progress {
  border: 2px solid #007bff;
}
